.Button {
    margin-left: 10px;
    margin-top: 5px;
}

.Tab {
    margin-left: 10px;
    margin-top: 5px;
    align-items: center;
    overflow: scroll;
    height: 300px;
    width: 95%;
}

.Table {
    padding: 50px;
}

.Tab Table {
    width: 100%;
}